<div class="example-container mat-elevation-z8">
  <mat-sidenav-container class="example-container">
    <mat-sidenav #filterOptions closed mode="side" style="width: 20em">
      <mat-toolbar color="accent">Filter Options</mat-toolbar>
      <div class="flex_container">
        <mat-form-field>
          <mat-select placeholder="Assignment Type">
            <mat-option *ngFor="let type of types" [value]="type">{{ type }}</mat-option>
          </mat-select>
        </mat-form-field> <!-- By type -->

        <mat-form-field>
          <mat-select #assigner placeholder="Assigner" multiple>
            <mat-select-trigger>
              {{assigner.value ? assigner.value[0] : ''}}
              <span *ngIf="assigner.value?.length > 1">(+{{assigner.value.length - 1}} others)</span>
            </mat-select-trigger>
            <mat-option *ngFor="let member of project?.team" [value]="member.email">{{ member.email }}</mat-option>
          </mat-select>
        </mat-form-field> <!-- By assigner -->

        <mat-form-field>
          <mat-select #assignee placeholder="Assignee" multiple>
            <mat-select-trigger>
              {{assignee.value ? assignee.value[0] : ''}}
              <span *ngIf="assignee.value?.length > 1">(+{{assignee.value.length - 1}} others)</span>
            </mat-select-trigger>
            <mat-option *ngFor="let member of project?.team" [value]="member.email">{{ member.email }}</mat-option>
          </mat-select>
        </mat-form-field> <!-- By assignee -->

        <button mat-icon-button><mat-icon>autorenew</mat-icon></button>
      </div>

    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar color="accent" class="filter_toolbar">
        <mat-toolbar-row>
          <button mat-icon-button (click)="filterOptions.toggle()"><mat-icon>filter_list</mat-icon></button>
          <div style="flex: 1 1 auto;"></div>
          <mat-radio-group value="all" (change)="typeFilter.next({type: filterType.type, value: $event.value})">
            <mat-radio-button color="primary" value="all">All</mat-radio-button>
            <mat-radio-button color="primary" [value]="taskType.task">Task</mat-radio-button>
            <mat-radio-button color="primary" [value]="taskType.issue">Issue</mat-radio-button>
          </mat-radio-group>
          <div style="flex: 1 1 auto;"></div>
          <mat-form-field>
            <mat-hint align="start"><strong>Status of assignment</strong></mat-hint>
            <mat-select color="primary" (change)="statusFilter.next({type: filterType.status, value: $event.value})" value="all">
              <mat-option value="all">All</mat-option>
              <mat-option value="true">Closed</mat-option>
              <mat-option value="false">Open</mat-option>
            </mat-select>
          </mat-form-field>
        </mat-toolbar-row>
        <mat-toolbar-row>
          <mat-form-field class="name_filter">
            <input matInput #filterInput (keyup)="nameFilter.next({type: filterType.name, value: $event.target.value})" placeholder="Filter">
            <button mat-button *ngIf="filterInput.value" matPrefix mat-icon-button aria-label="Clear" (click)="filterInput.value=''">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
        </mat-toolbar-row>
      </mat-toolbar>
      <div style="min-height: 35em;">
        <mat-table #table [dataSource]="dataSource" matSort>

          <ng-container matColumnDef="status">
            <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
            <mat-cell *matCellDef="let element" class="mat-column-select">
              <mat-checkbox [disabled]="hasRights(element)" (click)="$event.stopPropagation()"
                            [(ngModel)]="element.completed" (change)="changeStatusOf(element)"></mat-checkbox>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="type">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Type </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{taskType[element.type]}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element?.name}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="assigner_email">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Assigner </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element?.assigner_email}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="assignee">
            <mat-header-cell *matHeaderCellDef> Assignees </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element?.assignee_email?.length}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="end_date">
            <mat-header-cell *matHeaderCellDef mat-sort-header> End Date </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element?.date_end | date:'fullDate'}} </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let element; columns: displayedColumns;"
                   (click)="openTask(element._id)">
          </mat-row>
        </mat-table>
      </div>
      <mat-paginator #paginator
                     [pageSize]="10"
                     [pageSizeOptions]="[5, 10, 20]"
                     [showFirstLastButtons]="true">
      </mat-paginator>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
