<mat-horizontal-stepper [linear]="true" #stepper="matHorizontalStepper">
  <mat-step [stepControl]="firstFormGroup">
      <ng-template matStepLabel>Project Basic Info</ng-template>
      <mat-accordion class="example-headers-align">
        <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle="true">
          <mat-expansion-panel-header>
            <mat-panel-title>Company</mat-panel-title>
            <mat-panel-description>If you're developing for a Company, you could set that here<mat-icon>business</mat-icon></mat-panel-description>
          </mat-expansion-panel-header>
          <ng-template matExpansionPanelContent>
            <mat-form-field>
              <input matInput placeholder="Project Company" [(ngModel)]="project.company" [ngModelOptions]="{standalone: true}">
            </mat-form-field>
            <mat-action-row>
              <button mat-button color="primary" (click)="nextStep()">Next</button>
            </mat-action-row>
          </ng-template>
        </mat-expansion-panel>

        <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle="true">
          <mat-expansion-panel-header>
            <mat-panel-title>Privacy</mat-panel-title>
            <mat-panel-description>Set the privacy visibility for this project.<mat-icon>vpn_lock</mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <ng-template matExpansionPanelContent>
            <mat-slide-toggle #privacyToggle color="accent" (change)="changeProjectPrivacyType(privacyToggle.checked)">{{ project.typeOf }}</mat-slide-toggle>
            <mat-action-row>
              <button mat-button color="warn" (click)="prevStep()">Previous</button>
              <button mat-button color="primary" (click)="nextStep()">Next</button>
            </mat-action-row>
          </ng-template>
        </mat-expansion-panel>

        <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle="true">
          <mat-expansion-panel-header>
            <mat-panel-title>Project Info</mat-panel-title>
            <mat-panel-description>Set name, description and budget for this project<mat-icon>label</mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <!-- Content -->
          <ng-template matExpansionPanelContent>
            <div class="flex_container">
              <form [formGroup]="firstFormGroup">
                <mat-form-field>
                  <input matInput required placeholder="Project Name" formControlName="projectName" [(ngModel)]="project.name">
                </mat-form-field>
              </form>
              <mat-form-field>
                <input matInput placeholder="Amount" type="number" value="{{slider.value}}" disabled>
                <span matPrefix>$&nbsp;</span>
                <span matSuffix>.00</span>
              </mat-form-field>
              <mat-slider #slider style="position:relative;width:100%" [(ngModel)]="project.budget" tickInterval="auto" [min]="0" [max]="50000" ></mat-slider>
              <mat-form-field>
                <textarea matInput  placeholder="This text should be concise and readable" [(ngModel)]="project.description" [ngModelOptions]="{standalone: true}"></textarea>
              </mat-form-field>
            </div>
            <mat-action-row>
              <button mat-button color="warn" (click)="prevStep()">Previous</button>
              <button mat-button color="primary" (click)="nextStep()">End</button>
            </mat-action-row>
          </ng-template>
        </mat-expansion-panel>

      </mat-accordion>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
  </mat-step>
  <mat-step>
      <ng-template matStepLabel>Invites</ng-template>
        <mat-expansion-panel [expanded]="false">
          <mat-expansion-panel-header>
            <mat-panel-title>Invite members</mat-panel-title>
            <mat-panel-description>Invite users to work on your project</mat-panel-description>
          </mat-expansion-panel-header>
          <ng-template matExpansionPanelContent>
            <p>As you type email, returns available emails. You can add by writing the email and separate by comma, or press enter.</p>
            <mat-form-field>
              <mat-chip-list #chipList>
                <mat-chip *ngFor="let member of membersToInvite; let i = index;" removable="true" (remove)="remove(i)">
                  {{member}}
                  <mat-icon matChipRemove>cancel</mat-icon>
                </mat-chip>

                <input #addAssignee placeholder="Add members to invite" matInput
                       [matAutocomplete]="teamAuto"
                       [matChipInputFor]="chipList"
                       [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                       (matChipInputTokenEnd)="add($event.input, $event.value)"
                       (keyup)="onKeyUp($event)">
                <mat-autocomplete autoActiveFirstOption #teamAuto="matAutocomplete" (optionSelected)="add(addAssignee, $event.option.value)">
                  <mat-option *ngFor="let member of membersAutocomplete | async" [value]="member.email">
                    {{ member.email }}
                  </mat-option>
                </mat-autocomplete>
              </mat-chip-list>
            </mat-form-field>
          </ng-template>
        </mat-expansion-panel>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Create Project</ng-template>
    <span>You have completed the basic info.Keep in mind that these can be changed later into the project settings.</span>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>{{project.name}}</mat-panel-title>
        <mat-panel-description>Review Info</mat-panel-description>
      </mat-expansion-panel-header>
      <ng-template matExpansionPanelContent>
        <mat-form-field>
          <input matInput placeholder="Company" [(ngModel)]="project.company" disabled>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Amount" type="number" [value]="project.budget" disabled>
          <span matPrefix>$&nbsp;</span>
          <span matSuffix>.00</span>
        </mat-form-field>
      </ng-template>
    </mat-expansion-panel>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
      <button mat-raised-button color="accent" (click)="onSubmit()">Done</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
