<div    fxLayout
        fxLayout.xs="column"
        fxLayoutAlign="center"
        fxLayoutGap="10px"
        fxLayoutGap.xs="0">
    <div fxFlex="auto">
        <mat-card class="card" >
            <mat-card-content>
              <mat-tab-group #tab [(selectedIndex)]="selectedIndex">
                <mat-tab label="Data Table">
                  <div class="flex_container">
                    <mat-form-field class="type_filter">
                      <mat-select placeholder="Member Type" value="all" (change)="typeFilter.next({type: filterType.type, value: $event.value})">
                        <mat-option value="all">All</mat-option>
                        <mat-option value="0">Manager</mat-option>
                        <mat-option value="1">Member</mat-option>
                      </mat-select>
                    </mat-form-field>
                    <mat-form-field class="name_filter">
                      <input matInput #filterInput (keyup)="nameFilter.next({type: filterType.name, value: $event.target.value})" placeholder="Filter by name or member's email">
                      <button mat-button *ngIf="filterInput.value" matPrefix mat-icon-button aria-label="Clear" (click)="filterInput.value = null ">
                        <mat-icon>close</mat-icon>
                      </button>
                    </mat-form-field>
                  </div>
                    <div class="table-container mat-elevation-z8">
                            <mat-table #table [dataSource]="dataSource">
                                <ng-container matColumnDef="Name">
                                    <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
                                    <mat-cell *matCellDef="let element" (click)="openProject(element, 'dashboard')"> {{element.name}} </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="Budget">
                                    <mat-header-cell *matHeaderCellDef> Budget </mat-header-cell>
                                    <mat-cell *matCellDef="let element"> $ {{ element?.budget }}</mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="Description">
                                    <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
                                    <mat-cell *matCellDef="let element"> {{element.description | truncate: 15}} </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="Members">
                                    <mat-header-cell *matHeaderCellDef> Team Members </mat-header-cell>
                                    <mat-cell *matCellDef="let element" (click)="openProject(element, 'team')" > {{element?.team.length}} </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="Progress">
                                    <mat-header-cell *matHeaderCellDef> Progress </mat-header-cell>
                                    <mat-cell *matCellDef="let element;let _i=index" >
                                        <mat-progress-bar
                                            color="primary"
                                            mode="mode"
                                            value="{{56}}">
                                    </mat-progress-bar>
                                    </mat-cell>
                                </ng-container>

                                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                <mat-row *matRowDef="let element; columns: displayedColumns; "></mat-row>
                            </mat-table>
                          <mat-paginator #paginator
                                         [pageSize]="10"
                                         [pageSizeOptions]="[5, 10, 20]"
                                         [showFirstLastButtons]="true">
                          </mat-paginator>
                        </div>
                </mat-tab>
                <mat-tab label="Create Project">
                    <app-pmapp-createproject (projectCreated)="addProject($event)" [user]="user"></app-pmapp-createproject>
                </mat-tab>
              </mat-tab-group>
            </mat-card-content>
            <mat-card-footer>
                <mat-divider></mat-divider>
                <mat-icon>history</mat-icon> Updated {{ projectUpdated }}
            </mat-card-footer>
        </mat-card>
    </div>
</div>
