@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

.transparentToolbar {
  background-color: transparent !important;
  color: #1976D2 !important;
}

#wallpaper {
  background: url('../../assets/images/wallpaper.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.title, .description {
  font-family: Josefin Sans, sans-serif;
}
.header {
  height: 50vh;
  color: #E3F2FD;
  .title {
    font-size: 5em;
    font-weight: 600;
    text-shadow: 2px 2px 10px black;
  }
  .description {
    font-size: 2.5em;
  }
}
hr {
  border: 0;
  height: 1px;
  background: #FFFFFF;
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,hsla(0,0%,0%,0)), color-stop(50%,hsla(0,0%,0%,.75)), color-stop(100%,hsla(0,0%,0%,0)));
  background: -webkit-linear-gradient(left, hsla(0,0%,0%,0) 0%, hsla(0,0%,0%,.75) 50%, hsla(0,0%,0%,0) 100%);
  background:    -moz-linear-gradient(left, hsla(0,0%,0%,0) 0%, hsla(0,0%,0%,.75) 50%, hsla(0,0%,0%,0) 100%);
  background:     -ms-linear-gradient(left, hsla(0,0%,0%,0) 0%, hsla(0,0%,0%,.75) 50%, hsla(0,0%,0%,0) 100%);
  background:      -o-linear-gradient(left, hsla(0,0%,0%,0) 0%, hsla(0,0%,0%,.75) 50%, hsla(0,0%,0%,0) 100%);
  background:         linear-gradient(left, hsla(0,0%,0%,0) 0%, hsla(0,0%,0%,.75) 50%, hsla(0,0%,0%,0) 100%);
}
.spacer {
  flex: 1 1 auto;
}
/*
 Main content canvas
 */
.main-dark {
  background: #424242;
  * {
    .title {
      color: #FFFFFF;
    }
    .description {
      color: lightgray;
    }
  }
}
.main-light {
  background: #FFFFFF;
  * {
    .title {
      color: #3C4858;
    }
    .description {
      color: #999999;
    }
  }
}
.main {
  position: relative;
  z-index: 3;
  justify-content: center;
  text-align: center;
}
.main-raised {
  margin: -60px 30px 0;
  border-radius: 6px;
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.24), 0 6px 30px 5px rgba(0, 0, 0, 0.32), 0 8px 10px -5px rgba(0, 0, 0, 0.4);
}

.team_member {
  margin-left: 5%;
  margin-right: 5%;
}

mat-card {
  box-shadow: none !important;
}
