<div  fxLayout
      fxLayout.xs="column"
      fxLayoutAlign="center"
      fxLayoutGap="10px"
      fxLayoutGap.xs="0">
  <div fxFlex="auto">
    <mat-card class="card">
      <mat-card-header>
        <mat-card-title>Project Team</mat-card-title>
        <mat-card-subtitle>With status also</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <mat-table #table [dataSource]="project?.team">
          <ng-container matColumnDef="no.">
            <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.index}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="position">
            <mat-header-cell *matHeaderCellDef> Position </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="remove">
            <mat-header-cell *matHeaderCellDef> Remove </mat-header-cell>
            <mat-cell *matCellDef="let element" (click)="removeMember(element.email, element.index)"><mat-icon color="warn">close</mat-icon></mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
      </mat-card-content>
      <mat-card-footer>
        <mat-icon>history</mat-icon>Updated now
      </mat-card-footer>
    </mat-card>
  </div>
  <div fxFlex="auto">
    <mat-card class="card">
      <mat-card-header>
        <mat-card-title>Invite a member</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>As you type email, returns available emails. You can add by writing the email and separate by comma, or press enter.</p>
        <mat-form-field>
          <mat-chip-list #chipList>
            <mat-chip *ngFor="let member of team; let i = index;" removable="true" (remove)="remove(i)">
              {{member}}
              <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
            <input #addAssignee placeholder="Add members to invite" matInput
                   [matAutocomplete]="teamAuto"
                   [matChipInputFor]="chipList"
                   [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                   (matChipInputTokenEnd)="add($event.input, $event.value)"
                   (keyup)="onKeyUp($event)">
            <mat-autocomplete #teamAuto="matAutocomplete" (optionSelected)="add(addAssignee, $event.option.value)">
              <mat-option *ngFor="let member of membersAutocomplete | async" [value]="member.email">
                {{ member.email }}
              </mat-option>
            </mat-autocomplete>
          </mat-chip-list>
        </mat-form-field>
        <button mat-raised-button (click)="onInvite()">Invite members</button>
      </mat-card-content>
    </mat-card>
  </div>
</div>

