.card {
  border-radius: 6px;
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  margin-bottom:1em;
}
.btn-float {
  margin:0;
  position:fixed;
  bottom: 30em;
  right: 2em;
  z-index: 10000;
}
