<div    fxLayout
        fxLayout.xs="column"
        fxLayoutAlign="center"
        fxLayoutGap="10px"
        fxLayoutGap.xs="0">
  <div fxFlex="auto">
    <mat-card class="card" >
      <mat-card-header>
        <mat-card-title>Calendar</mat-card-title>
        <mat-card-subtitle>Material</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <mat-calendar (selectedChange)="selectedDate($event)" ></mat-calendar>
      </mat-card-content>
    </mat-card>
  </div>
</div>
