<div
  fxLayout
  fxLayout.lt-md="column"
  fxLayoutAlign="center"
  fxLayoutGap="10px"
  fxLayoutGap.lt-md="0">
  <div fxFlex="auto">
    <mat-card class="card" >
      <mat-card-header>
        <mat-card-title>
          Tasks Statistics
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="flex_container">
          <div id="taskChartContainer"></div>
          <div *ngIf="!taskAvailable">
            <h4>There are no tasks on this project</h4>
            <a mat-raised-button [routerLink]="['assignments']" >Create a new Task</a>
          </div>
        </div>
      </mat-card-content>
      <mat-card-footer>
        <mat-divider></mat-divider>
        <mat-icon>history</mat-icon> Updated
      </mat-card-footer>
    </mat-card>
  </div>
  <div fxFlex="auto">
    <mat-card class="card" >
      <mat-card-header>
        <mat-card-title>
          Issues Statistics
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="flex_container">
          <div id="issuesChartContainer"></div>
          <div *ngIf="!issueAvailable">
            <h4>There are no tasks on this project</h4>
            <a mat-raised-button [routerLink]="['assignments']" >Create a new Task</a>
          </div>
        </div>
      </mat-card-content>
      <mat-card-footer>
        <mat-divider></mat-divider>
        <mat-icon>history</mat-icon> Updated
      </mat-card-footer>
    </mat-card>
  </div>
</div>
<div    fxLayout
        fxLayout.lt-md="column"
        fxLayoutAlign="center"
        fxLayoutGap="10px"
        fxLayoutGap.lt-md="0"
        fxLayoutWrap="wrap">
  <div fxFlex="auto">
    <mat-card class="card" >
      <mat-card-header>
        <mat-card-title>
          Milestones
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>

      </mat-card-content>
      <mat-card-footer>
        <mat-divider></mat-divider>
        <mat-icon>history</mat-icon> Updated
      </mat-card-footer>
    </mat-card>
  </div>
  <div fxFlex="auto">
    <mat-card class="card" >
      <mat-card-header>
        <mat-card-title>
          Fifth Card
        </mat-card-title>
        <mat-card-subtitle>
          Fifth Card
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        This is the fifth card
      </mat-card-content>
      <mat-card-footer>
        <mat-divider></mat-divider>
        <mat-icon>history</mat-icon> Updated
      </mat-card-footer>
    </mat-card>
  </div>
</div>
